<div class="container">

    <hr/>
    <div>ONLINE LIBRARY</div>
    <hr/>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <img src="/assets/home.png"> <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
            <img src="/assets/books.png"> <a class="nav-link" routerLink="viewbooks">View Books</a>

        </li>
        <li class="nav-item">
            <img src="/assets/admin.png"><a class="nav-link" routerLink="admin-login">AdminLogin</a>
        </li>
    </ul>

    <hr/>

    <router-outlet></router-outlet>

</div>