<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <div><a class="nav-link" href="user">MANAGE USER</a></div>
            </li>
            <li class="nav-item">
                <div> <a class="nav-link" href="books">ADD BOOK</a></div>
            </li>
            <li class="nav-item">
                <div> <a class="nav-link" href="viewbooksadmin">MANAGE BOOK</a></div>
            </li>
        </ul>
        <!-- <li><a href="user">Manage USER</a></li>
            <li><a href="books">MANAGE BOOK</a></li>
        </ul> -->
    </div>


    <div class="row align-items-center">

        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="/admin-login">Back</a></li>
        </ul>
    </div>

</body>

</html>

<!-- <div>
    <table class="table" style="width: 80%">
        <tr>
            <th>Book-ID</th>
            <th>Book-Name</th>
            <th>Author</th>
            <th></th>
        </tr>
        <tr *ngFor="let books of book">
            <td>
                {{books.b_id}}
            </td>
            <td>
                {{books.b_name}}
            </td>
            <td>
                {{books.author}}
            </td>
        </tr>
    </table>
</div>
<div>
    <p>
        
    </p>
</div> -->
<!-- <router-outlet></router-outlet> -->
<!-- <button (click)="addBook()"> Add Book</button> -->